#dashboard-container {
    display: flex;
    flex: 1;
    gap: 24px;
}

@media screen and (max-width: 1000px) {
    #dashboard-container {
        flex-direction: column;
        overflow-y: scroll;
    }
}