#dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    gap: 24px;
}

@media screen and (max-width: 1000px) {
    #dashboard-container {
        flex-direction: column;
        overflow-y: scroll;
    }
}