#navbar-container {
    width: 95%;
    height: 60px;
    background-color: #111111;
    border-radius: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
}

#navbar-logo-button {
    padding: 0;
    min-width: min-content;
    min-height: min-content;
    background-color: transparent;
    margin-left: 16px;
}

#navbar-logo-button:hover {
    background-color: transparent;
}

#navbar-links {
    display: flex;
    gap: 24px;
    margin-left: 32px;
}