#navbar-container {
    width: 95%;
    height: 60px;
    background-color: #111111;
    border-radius: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#navbar-logo-button {
    padding: 0;
    min-width: min-content;
    min-height: min-content;
    background-color: transparent;
    margin-left: 16px;
}

#navbar-logo-button:hover {
    background-color: transparent;
}

#navbar-links {
    display: flex;
}

.navbar-link-button {
    color: #888888 !important;
    font-family: "Momo Trust Display", sans-serif !important;
    font-weight: 600 !important;
    font-size: 0.75rem !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
    padding: 8px 16px !important;
    border-radius: 8px !important;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
    position: relative;
    overflow: hidden;
}

.navbar-link-button:hover {
    color: #F7F7F9 !important;
    background-color: transparent !important;
}

.navbar-link-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #23CE6B;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-link-button:hover::after, .navbar-selected-link::after {
    width: 50%;
}

.navbar-selected-link {
    color: white !important;
}