#navbar-container {
    width: 95%;
    height: 60px;
    background-color: #111111;
    border-radius: 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    #navbar-container {
        overflow-x: auto;
    }
}


#navbar-logo-button {
    padding: 0;
    min-width: min-content;
    min-height: min-content;
    background-color: transparent;
    margin-left: 16px;
}

#navbar-logo-button:hover {
    background-color: transparent;
}

#navbar-links {
    display: flex;
}

.navbar-link-button {
    color: #888888;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.navbar-link-button:hover {
    color: #F7F7F9;
    background-color: transparent;
}

.navbar-link-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #23CE6B;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-link-button:hover::after, .navbar-selected-link::after {
    width: 50%;
}

.navbar-selected-link {
    color: white;
}