#landing-root {
    background-color: var(--bg-base);
}

#landing-logo-container {
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#landing-stack {
    height: 100vh;
}

#landing-auth-content {
    display: grid;
    width: 100%;
    place-items: center;
}

#landing-auth-content > * {
    grid-area: 1 / 1;
    width: 100%;
    max-width: 30vw;
}

#landing-auth-container {
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#landing-tagline {
    color: var(--text-primary);
    font-family: "Momo Trust Display";
    margin-bottom: 0.5vw;
}

/* Login Button */
#landing-login-btn {
    background-color: var(--accent-main);
    font-family: "Momo Trust Display";
}
#landing-login-btn:hover {
    background-color: var(--accent-hover);
}
/****************************************/

/* Signup Button */
#landing-signup-btn {
    font-family: "Momo Trust Display";
    color: var(--text-primary);
    border-color: var(--accent-main);
}
#landing-signup-btn:hover {
    color: var(--text-primary);
    border-color: var(--accent-hover);
}
/****************************************/

/* Stack Divider */
#landing-page-stack-divider {
    background-color: var(--bg-surface-elevated);
    height: 50vh;
    align-self: center;
}

/* Back Button */
.landing-back-btn {
    margin-top: 1vw;
    color: var(--text-primary);
}