.creator-container {
    border-radius: 16px;

    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
}

@media screen and (max-width: 768px) {
    .creator-container {
        overflow: auto;
    }
}

.creator-page-header {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.creator-page-header-title {
    color: white;
    font-family: "Momo Trust Display";
    font-size: 2.5rem;
}

.creator-page-header-description {
    color: #AAAAAA;
    font-size: 0.8rem;
    font-family: "Momo Trust Display";
}

.creator-page-create-new {
    border: 1px solid #23CE6B;
    color: #23CE6B;
}

.creator-page-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
    overflow: hidden;
}

.creator-table-container {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column; 
}

.creator-table-header-cell {
    background-color: var(--bg-4);
    color: #888;
    font-size: 0.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.creator-table-cell {
    color: #F7F7F9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    font-family: 'Inter', sans-serif;
}

.creator-table-row:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

.creator-table-action-button {
    text-transform: none;
    padding: 4px 12px;
    font-size: 0.8rem;
    border-color: rgba(255, 255, 255, 0.2);
}

.creator-page-footer {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #111111;
    flex-shrink: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}