#problems-section-container {
    box-shadow: 0 4px 12px #00000080;
    background-color: var(--bg-2);
    border-radius: 16px;

    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex: 1;
}

#problems-section-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-1);
    padding: 32px;

    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#problems-section-list {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#problems-section-footer {
    padding: 16px;
    border-top: 1px solid var(--bg-1);
    justify-content: center;
    background-color: var(--bg-1);

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#problems-section-pagination .MuiPaginationItem-root {
    color: white;
    border-color: var(--bg-0);
}

#problems-section-pagination .Mui-selected {
    background-color: var(--accent-main) !important;
    color: black;
    font-weight: bold;
}

.problem-filter-select {
    background-color: var(--bg-4);
    color: white !important;
    border-radius: 8px;
    height: 40px;
    min-width: 160px;
    font-family: "Momo Trust Display", sans-serif !important;
    font-size: 0.875rem !important;
}

.problem-filter-select .MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.problem-filter-select:hover .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.problem-filter-select.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--accent-main) !important;
    border-width: 1px;
}

.problem-filter-select .MuiSvgIcon-root {
    color: var(--text-primary) !important;
}

.filter-menu-paper {
    background-color: var(--bg-5) !important;
    border: 1px solid var(--bg-1);
    border-radius: 8px !important;
    margin-top: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.6) !important;
}

.filter-menu-item {
    color: white !important;
    font-size: 0.875rem !important;
}

.filter-menu-item:hover {
    background-color: var(--bg-3) !important;
    color: var(--text-primary) !important;
    font-weight: bold;
}

.filter-menu-item.Mui-selected {
    background-color: rgb(35, 206, 107, 0.3) !important;
    color: var(--text-primary) !important;
}

.show-tags-switch .MuiSwitch-track {
    background-color: var(--bg-9) !important;
}

.show-tags-switch .MuiSwitch-switchBase.Mui-checked {
    color: var(--accent-main) !important;
}

.show-tags-switch .MuiSwitch-switchBase.Mui-checked:hover {
    background-color: rgba(35, 206, 107, 0.08) !important;
}

.show-tags-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: var(--bg-4) !important;
    opacity: 1 !important;
}