.social-container {
    display: flex;
    flex: 1;

    height: 100%;
    width: 100%;

    gap: 24px;
}

.social-box {
    background-color: var(--bg-2);
    min-width: 15%;
    border-radius: 12px;
    flex: 1;
}

.feed-box {
    min-width: 70%;
}

@media screen and (max-width: 768px) {
    .social-container {
        flex-direction: column;
    }   
}