@font-face {
    font-family: "VT323";
    src: url("./assets/fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Momo Trust Display";
    src: url("./assets/fonts/MomoTrustDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}