
.problem-editor-section {
    background-color: #111111;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    flex: 1 1 0;
    min-width: 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.problem-editor-header {
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.problem-editor-title {
    font-family: "Momo Trust Display", sans-serif;
    font-size: 0.7rem;
    color: #F7F7F9;
    display: flex;
    align-items: center;
    gap: 6px;
}

.problem-editor-light-switch .MuiSwitch-track {
    background-color: black;
    opacity: 1;
}

.problem-editor-light-switch .Mui-checked + .MuiSwitch-track {
    background-color: #23CE6B;
}

.language-select {
    background-color: rgba(255, 255, 255, 0.05);
    color: #F7F7F9;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 12px;
    border: 0;
    height: 30px;
}

.language-select .MuiSvgIcon-root {
    color: #F7F7F9;
}

.language-select .MuiOutlinedInput-notchedOutline {
    border: 0;
}

.language-select-item {
    font-size: 0.75rem;
    font-weight: 600;
    color: #cfcfcf;
}

.language-select-item {
    font-size: 0.75rem;
    font-weight: 600;
    color: #cfcfcf;
}

.language-select-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.language-select-item.Mui-selected {
    background-color: rgba(35, 206, 107, 0.1);
    color: #23CE6B;
}

.reset-button {
    color: #F7F7F9;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    height: 32px;
}

.problem-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.problem-editor-footer {
    background-color: rgba(255, 255, 255, 0.02);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    gap: 12px;
    margin-top: auto;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.problem-submit-button {
    color: #F7F7F9;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid rgba(35, 206, 107, 0.7);
    height: 32px;
}

.problem-submit-button:disabled {
    border-color: rgba(35, 206, 107, 0.3);
    color: rgba(247, 247, 249, 0.5);
}

.monaco-editor {
    position: absolute;
}