#register-page {
    background-color: #0C0C0C;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    background-color: #1A1A1A;
    padding: 4vw;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-header {
    text-align: center;
}

#register-title {
    font-family: "Momo Trust Display";
    color: white;
    font-size: 18px;
    margin-bottom: 2vw;
}

#register-form-container {
    margin-top: 5px;
}

.register-textfield .MuiFormLabel-root {
  color: white;
}

.register-textfield .MuiInputLabel-root.Mui-focused {
  color: white;
}

.register-textfield .MuiOutlinedInput-notchedOutline {
  border-color: #23CE6B;
  border-radius: 0;
  transition: border-radius 0.3s ease, border-color 0.3s ease;
}

.register-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #E7BB41;
  border-radius: 12px;
}

.register-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #E7BB41;
  border-radius: 12px;
}

.register-textfield input {
  color: white;
}

#register-button {
    font-family: "Momo Trust Display";
    background-color: #23CE6B;
    margin-top: 1vw;
}

#register-button:hover {
    background-color: #E7BB41;
    transition: background-color 0.3s ease;
}

#register-back-button {
    font-family: "Momo Trust Display";
    background-color: #555555;
    margin-top: 1vw;
}
